* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 170vh;
    position: relative;
}
    /* HEADER */
header{
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    border-bottom: 2px solid #FFA987;
    margin-bottom: -2rem;
    z-index: 1;
}

.home{
    margin-bottom: -.5rem;
}

p{
    position: relative;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #FFA987;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    letter-spacing: 2px;
    font-family: 'Poiret One', cursive;
    margin-bottom: -1rem;
    margin-left: 4rem;
}

main{
    position: relative;
    width: 65%;
    height: 200vh;
    margin: auto;
    background-color: #A19F9C;
}

.roler{
    position: absolute;
    z-index: 1;
    padding-left:2rem ;
    padding-right:2rem ;
    transform: translate(50%);
    right: 50%;
    top: 1%;
    background-color:  #A19F9C;
}

section{
    position: absolute;
    width: 90%;
    right: 50%;
    transform: translate(50%,0);
    height: 105%;
    margin-top: 6rem;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "img1 img2 img3 img4 img10"
    "img1 img6 img7 img8 img8"
    "img5 img5 img13 img14 img15"
    "img16 img17 img18 img14 img20"
    "img21 img27 img23 img24 img25"
    "img26 img27 img28 img29 img30"
    "img12 img19 img28 img31 img46"
    "img34 img35 img9 img36 img46"
    "img38 img35 img40 img22 img39"
    "img41 img41 img43 img44 img45"
    "img37 img42 img11 img32 img45"
    "img47 img49 img48 img48 img51"
    "img52 img49 img54 img50 img53";
}

section div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.img-1{
    background-image: url(../images/1.jpg);
    grid-area: img1;

}
.img-2{
    background-image: url(../images/2.jpg);
    grid-area: img2;
}
.img-3{
    background-image: url(../images/3.png);
    grid-area: img3;
}
.img-4{
    background-image: url(../images/4.jpg);
    grid-area: img4;
}
.img-5{
    background-image: url(../images/38.jpg);
    grid-area: img5;
}
.img-6{
    background-image: url(../images/6.jpg);
    grid-area: img6;
}
.img-7{
    background-image: url(../images/7.jpg);
    grid-area: img7;
}
.img-8{
    background-image: url(../images/8.jpg);
    grid-area: img8;
}
.img-9{
    background-image: url(../images/9.jpg);
    grid-area: img9;
}
.img-10{
    background-image: url(../images/39.jpg);
    grid-area: img10;
}
.img-11{
    background-image: url(../images/41.jpg);
    grid-area: img11;
}
.img-12{
    background-image: url(../images/12.jpg);
    grid-area: img12;
}
.img-13{
    background-image: url(../images/13.jpg);
    grid-area: img13;
}
.img-14{
    background-image: url(../images/14.jpg);
    grid-area: img14;
}
.img-15{
    background-image: url(../images/15.jpg);
    grid-area: img15;
}
.img-16{
    background-image: url(../images/16.jpg);
    grid-area: img16;
}
.img-17{
    background-image: url(../images/17.jpg);
    grid-area: img17;
}
.img-18{
    background-image: url(../images/18.jpg);
    grid-area: img18;
}
.img-19{
    background-image: url(../images/19.jpg);
    grid-area: img19;
}
.img-20{
    background-image: url(../images/20.jpg);
    grid-area: img20;
}
.img-21{
    background-image: url(../images/21.jpg);
    grid-area: img21;
}
.img-22{
    background-image: url(../images/22.jpg);
    grid-area: img22;
}
.img-23{
    background-image: url(../images/23.jpg);
    grid-area: img23;
}
.img-24{
    background-image: url(../images/24.jpg);
    grid-area: img24;
}
.img-25{
    background-image: url(../images/25.jpg);
    grid-area: img25;
}
.img-26{
    background-image: url(../images/26.jpg);
    grid-area: img26;
}
.img-27{
    background-image: url(../images/27.png);
    grid-area: img27;
}
.img-28{
    background-image: url(../images/28.png);
    grid-area: img28;
}
.img-29{
    background-image: url(../images/29.png);
    grid-area: img29;
}
.img-30{
    background-image: url(../images/30.png);
    grid-area: img30;
}
.img-31{
    background-image: url(../images/44.jpg);
    grid-area: img31;
}
.img-32{
    background-image: url(../images/45.jpg);
    grid-area: img32;
}
.img-33{
    background-image: url(../images/46.jpg);
    grid-area: img33;
}
.img-34{
    background-image: url(../images/47.jpg);
    grid-area: img34;
}
.img-35{
    background-image: url(../images/48.jpg);
    grid-area: img35;
}
.img-36{
    background-image: url(../images/31.png);
    grid-area: img36;
}
.img-37{
    background-image: url(../images/32.jpg);
    grid-area: img37;
}
.img-38{
    background-image: url(../images/33.jpg);
    grid-area: img38;
}
.img-39{
    background-image: url(../images/34.jpg);
    grid-area: img39;
}
.img-40{
    background-image: url(../images/35.jpg);
    grid-area: img40;
}
.img-41{
    background-image: url(../images/49.jpg);
    grid-area: img41;
}
.img-42{
    background-image: url(../images/50.jpg);
    grid-area: img42;
}
.img-43{
    background-image: url(../images/51.jpg);
    grid-area: img43;
}
.img-44{
    background-image: url(../images/52.jpg);
    grid-area: img44;
}
.img-45{
    background-image: url(../images/53.jpg);
    grid-area: img45;
}
.img-46{
    background-image: url(../images/54.jpg);
    grid-area: img46;
}
.img-47{
    background-image: url(../images/55.jpg);
    grid-area: img47;
}
.img-48{
    background-image: url(../images/56.jpg);
    grid-area: img48;
}
.img-49{
    background-image: url(../images/57.jpg);
    grid-area: img49;
}
.img-50{
    background-image: url(../images/58.jpg);
    grid-area: img50;
}
.img-51{
    background-image: url(../images/59.jpg);
    grid-area: img51;
}
.img-52{
    background-image: url(../images/60.jpg);
    grid-area: img52;
}
.img-53{
    background-image: url(../images/61.jpg);
    grid-area: img53;
}
.img-54{
    background-image: url(../images/62.jpg);
    grid-area: img54;
}



.img-window{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img{
  max-height: 80vh;
  max-width: 80vw;
  z-index: 500;
}

footer{
    width: 100%;
    height: 10vh;
    position: relative;
}
.odnosnik{
    position: absolute;
    top: 15%;
    right: 50%;
    font-size: 1.8rem;
    transform: translate(50%,0);
    text-transform: uppercase;
    color: #FFA987;
    letter-spacing: 2px;
    font-family: 'Poiret One', cursive;
    text-decoration: none;
    font-weight: 700;
}

.copyright{
    position: absolute;
    bottom: -5vh;
    right: 50%;
    transform: translate(50%,0);
    color: #FFA987;
}

/* Btns */
.img-btn-next{
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-next:hover{
    opacity: 0.8;
}

.img-btn-prev{
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-prev:hover{
    opacity: 0.8;
}

/* breakpoints */
@media (max-width:600px){
    p{
        background-color:#A19F9C ;
    }
    .roler{
        display: none;
    }
    body{
        height: 300vh;
    }
    main{
        width: 80%;
        height: 300vh;
    }
    section{
        height: 95%;
        margin-top: 10vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "img1 img2"
        "img1 img3"
        "img4 img5"
        "img6 img7"
        "img8 img9"
        "img10 img11"
        "img12 img13"
        "img14 img15" 
        "img16 img17"
        "img18 img19" 
        "img20 img22"  
        "img21 img27"
        "img23 img24"  
        "img26 img25"
        "img28 img29"
        "img30 img31"
        "img32 img33"   
        "img34 img35"
        "img36 img35"
        "img37 img38"
        "img39 img40"
        "img41 img42"
        "img43 img44"
        "img45 img46"
        "img47 img48"
        "img49 img50"
        "img51 img52"
        "img53 img54";
    }
    
    .odnosnik{
        font-size: 1.2rem;
        letter-spacing: 1px;
        top: 20%;
    }
    .copyright{
        bottom: 0;
        font-size: .5rem;
        width: 100%;
    }
}

@media (min-width:601px) and (max-width:1200px){
    p{
        background-color:#A19F9C ;
        margin-left: 10rem;
    }
    .roler{
        display: none;
    }
    body{
        height: 280vh;
    }
    main{
        width: 75%;
        height: 280vh;
    }
    section{
        height: 92%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "img1 img2 img3"
        "img1 img4 img5"
        "img6 img7 img8"
        "img9 img7 img10"
        "img11 img12 img13"
        "img14 img15 img16"
        "img17 img18 img19"
        "img20 img21 img22" 
        "img27 img24 img25"
        "img27 img26 img32" 
        "img30 img31 img32"  
        "img33 img34 img35"
        "img36 img34 img38"  
        "img39 img40 img37"
        "img23 img28 img29"
        "img41 img42 img43"
        "img44 img45 img46"
        "img47 img49 img49"
        "img50 img51 img52"
        "img53 img54 img48";
    }
    footer{
        height: 8vh;
    }
    .odnosnik{
        font-size: 1.4rem;
        letter-spacing: 2px;
        top: 20%;
    }
    .copyright{
        font-size: .6rem;
    }
}

@media (min-width:1201px) and (max-width:1600px){
    p{
        background-color:#A19F9C ;
        margin-left: 15rem;
    }
    section{
        height: 95%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "img1 img2 img3 img4"
        "img1 img5 img6 img7"
        "img9 img8 img10 img11"
        "img12 img8 img14 img15"
        "img16 img17 img18 img19"
        "img20 img21 img22 img23"
        "img24 img25 img26 img27"
        "img28 img29 img30 img27" 
        "img32 img33 img34 img35"
        "img36 img33 img41 img41" 
        "img40 img31 img37 img13"
        "img46 img42 img43 img45"
        "img46 img38 img39 img45"
        "img47 img48 img49 img50"
        "img51 img52 img53 img54";
    }
    body{
        height: 250vh;
    }
    main{
        width: 75%;
        height: 250vh;
    }

}





